@import "reset.css";
@import "components/main.css";


/* Äëÿ SVG */
.icon-path {
    fill: currentColor;
    fill-rule: evenodd;
    clip-rule: evenodd;
}

html {
    font-family: 'SF Pro Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
}

body {
    background: #f2f4f7;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%; 
}

.container {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box; 
}
