.section__intro {
    height: 900px;
}

.section__intro-content {
    margin-top: 160px;
    width: 600px;
    height: 220px;
    display: grid;
    gap: 24px;
}

.section__intro-title {
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.3px;
    color: #101828;
}

    .section__intro-title span {
        color: #306ff5;
    }

.section__intro-text {
    font-family: "SF Pro Text Medium", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #101828;
}

.section__intro-form {
    margin-top: 40px;
    margin-bottom: 40px;
    width: fit-content;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section__intro-subtitle {
    width: 600px;
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #101828;
}

.form__intro {
    width: 628px;
    height: 58px;
    display: flex;
    gap: 24px;
}

.form__intro-content {
    display: grid;
    gap: 8px;
    flex: 1;
}

    .form__intro-content label {
        font-family: "SF Pro Text Medium", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.1px;
        color: #667085;
    }

    .form__intro-content input {
        border: none;
        border-bottom: solid 0.7px #d0d5dd;
        font-family: "SF Pro Text Regular", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.4px;
        color: #101828;
    }

.form__intro button {
    border-radius: 8px;
    border: 0px;
    padding: 11px 24px;
    width: 132px;
    height: 58px;
    cursor: pointer;
    background: #2d66ee;
    font-family: "SF Pro Text Semibold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #fff;
}

.section__intro-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 1440px;
    width: 100%;
    height: 900px;
    overflow: hidden;
}

    .section__intro-image img {
        object-fit: cover;
        transform: translate(62%, -31%);
    }

@media screen and (max-width: 1023px) {
    .section__intro {
        margin-top: 20px;
        height: 762px;
    }

    .section__intro-content {
        margin-top: 100px;
        width: 382px;
        height: 204px;
    }

    .section__intro-title {
        font-size: 28px;
    }

    .section__intro-form {
        margin-top: 32px;
        padding: 32px;
        width: 382px;
        height: 356px;
        box-sizing: border-box;
    }

    .section__intro-subtitle {
        width: 295px;
        font-size: 16px;
    }

    .form__intro {
        width: 295px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

        .form__intro button {
            width: fit-content;
            height: 40px;
            text-align: left;
        }

    .section__intro-image {
        height: 800px;
    }

        .section__intro-image img {
            scale: 0.6;
            transform: translate(34%, -50%);
        }
}

@media screen and (max-width: 767px) {

    .section__intro-content {
        margin-top: 100px;
        height: 220px;
        display: grid;
        gap: 24px;
    }


    .section__intro {
        height: 1268px;
    }

    .section__intro-form {
        margin-top: 400px;
        max-width: 365px;
    }

    .form__intro {
        width: 224px;
    }

    .section__intro-image {
        height: 1300px;
    }

        .section__intro-image img {
            scale: 0.5;
            transform: translate(-10%, -16%);
        }
}
