.section__intro {
    margin-top: -56px;
    height: auto;
    padding-bottom: 50px;
}

.section__intro-content {
    margin-top: 160px;
    width: 600px;
    display: grid;
    gap: 24px;
}

.section__intro-title {
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.33px;
    color: #101828;
}

    .section__intro-title span {
        color: #306ff5;
    }

.section__intro-text {
    font-family: "SF Pro Text Medium", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
}

.section__intro-form {
    margin-top: 64px;
    width: fit-content;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    display: grid;
    gap: 32px;
}

.section__intro-subtitle {
    width: 600px;
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
}

.form__intro {
    width: 628px;
    display: flex;
    gap: 24px;
}

.form__intro-content {
    display: grid;
    gap: 8px;
    flex: 1;
}

    .form__intro-content label {
        font-family: "SF Pro Text Medium", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.08px;
        color: #667085;
    }

    .form__intro-content input {
        border: none;
        border-bottom: solid 0.7px #d0d5dd;
        font-family: "SF Pro Text Regular", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.41px;
        color: #101828;
    }

.form__intro button {
    border-radius: 8px;
    border: 0px;
    padding: 11px 24px;
    width: 132px;
    height: 58px;
    cursor: pointer;
    background: #2d66ee;
    font-family: "SF Pro Text Semibold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.section__intro-image {
    position: absolute;
    top: 0;
    margin-left: 520px;
    z-index: -1;
}
