.navbar {
    border-radius: 12px;
    padding: 16px 24px;
    width: fit-content;
    position: sticky;
    top: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.navbar__inner {
    display: flex;
    gap: 80px;
    align-items: center;
}

.navbar__logo {
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: #2d66ee; 
}

.navbar__menu {
    display: flex;
    gap: 24px;
}

.navbar__item, .navbar__info a {
    font-family: "SF Pro Text Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: #2d66ee; 
}

.navbar__info {
    display: flex;
    gap: 32px;
}

.navbar__info-block {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar__details {
    display: flex;
    gap: 16px;
}

.navbar__link {
    color: #2d66ee;
}
